{% set url = path('ad_show', {'id': ad.id, 'slug': ad.slug}) %}

<div class="col-md-4">
    <div class="card bg-light mb-3">
        <div class="card-header text-center">
            {{ ad.rooms }} chambres, <strong>{{ ad.price | number_format(2, ',', ' ') }} &euro; / nuit</strong> <br>
            {% if ad.comments | length > 0 %}
                {{ include('partials/_rating.html.twig', {'rating': ad.avgRating}) }}
            {% else %}
                <small>Pas encore noté</small>
            {% endif %}
        </div>

        <a href="{{ url }}">
            <img src="{{ ad.coverImage }}" alt="Image de l'appartement"
                 style="height: 200px; width: 100%; display: block">
        </a>


        <div class="card-body">
            <h4 class="card-title">
                <a href="{{ url }}">{{ ad.title }}</a>
            </h4>
            <p class="class">
                {{ ad.introduction }}
            </p>
            <a href="{{ url }}" class="btn btn-primary float-right">En savoir plus !</a>
            {% if ad.isAuthor(app.user) %}
                <a href="{{ path('ad_edit', {'id': ad.id, 'slug': ad.slug}) }}" class="btn btn-secondary">Modifier l'annonce</a>
            {% endif %}
        </div>
    </div>
</div>